@import "../../bower_components/bootstrap/less/bootstrap.less";

//@icon-font-path: "../fonts/glyphicons/";

//colors
@dark-font-color: #696969;
@link-color: #3989C9;
@link-light-color: #9CC4E4;
@background-color: #fff;
//high level dimensions
@aside-width: 150px;
@header-height: 40px;
//z-index tracker
@index-aside: 1;
@index-main: 2;
@index-header: 3;
/********************************
********Default Styles***********
********************************/
html, body {
  overflow-x: hidden;
  color: @dark-font-color;
  font-family: 'Lato', sans-serif;
  -webkit-overflow-scrolling: touch;
}

a {
  color: @link-color;
  &:hover {
    text-decoration: none;
  }
}

/********************************
********aside styles*************
********************************/

aside {
  font-family: 'Lobster Two', sans-serif;
  position: fixed;
  z-index: @index-aside;
  width: @aside-width;
  line-height: 50px;
  //links
  ul {
    list-style-type: none;
    font-size:30px;
    padding: 0 0;
    margin: 50px 14px 0 14px;
  }
}
/********************************
*******main/header styles*******
********************************/
main, header {
  background-color: @background-color;
  width: 100%;
  left: 0px;
  transition: all .2s ease-in;
  //when hamburger is pressed
  &.show-aside {
    left: @aside-width;
  }
}
main {
  height: 100%;
  position: absolute;
  z-index: @index-main;
  box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.3);
}

header {
  background-color: @background-color;
  position: fixed;
  height: @header-height;
  z-index: @index-header;
  a {
    padding: 12px 30px;
    //hamburger icon markup
    &:before {
      content: "";
      position: absolute;
      left: 20px;
      top: @header-height/3;
      width: 20px;
      height: 3px;
      background: @dark-font-color;
      box-shadow:
      0 @header-height/6 0 0 @dark-font-color,
      0 @header-height/3 0 0 @dark-font-color;
    }
  }
  span {
    line-height: @header-height;
    font-size: @header-height/2;
    font-family: 'Lobster Two', sans-serif;
    opacity: 0;
    transition: all .2s ease-out;
  }
  &.scrolling {
    box-shadow: -1px 0px 27px -4px rgba(0, 0, 0, .3) ;
    span {
      opacity: 1;
    }
  }
}

/********************************
********Nav Styles**************
********************************/
.intro {
  text-align: center;
  font-weight: 300;
  h1 {
    font-size: 60px;
    padding-top: 30px;
    @media (max-width: @screen-xs-max) {
      font-size: 44px;
    }
  }
  h2 {
    font-size: 20px;
    line-height: 30px;
    @media (max-width: @screen-xs-max) {
      line-height: 20px;
    }
  }
}

@import 'categories.less';

