
.panel-group {
  .panel {
    border:none;
  }
}
/********************************
********Section Styles********
********************************/
.fixedimg{
  padding: 200px 0;
  position:relative;
  .imgdesc{
    position:absolute;
    bottom: 0;
    right: 0;
    padding: 5px 15px 5px 5px;
    font-size: 14px;
    font-style: italic;
    color:white;
    opacity:.4;
    &:hover{
      opacity: 1;
      font-size: 15px;
      background: rgba(0, 0, 0, .6);
    }
  }
  .itemtext{
    background: rgb(0, 0, 0); /* Fall-back for browsers that don't support rgba */
    background: rgba(0, 0, 0, .8);
    color: white;
    padding: 25px 25px;
    border-radius: 25px;
    font-size: 25px;
    font-weight: 300;
    a{
      color:#9CC4E4;
      font-weight: 300;
    }
    h3{
      font-size: 35px;
      font-weight: 300;
      margin-bottom: 20px;
    }
    .date{
      text-align: right;
      font-style: italic;
      font-weight: 100;
    }
  }

}

/********************************
***Section Specific Styles*******
********************************/
.background00{
  background: url('../images/sections/0_0.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background01{
  background: url('../images/sections/0_1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background02{
  background: url('../images/sections/0_2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background03{
  background: url('../images/sections/0_3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background10{
  background: url('../images/sections/1_0.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background11{
  background: url('../images/sections/1_1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background12{
  background: url('../images/sections/1_2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background20{
  background: url('../images/sections/2_0.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background21{
  background: url('../images/sections/2_1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.background22{
  background: url('../images/sections/2_2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
